/* global rules  */
/* start global variable */
:root {
  --main-color: #181d38;
  --main-transition: 0.4s;
  --main-transparent: #e9e6e6;
  --background-color: #06bbcc;
  --paragraphe-color: #52565b;
  --main-padding: 48px 0px;
}
/* end global variables */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Nunito", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #181d38;
}
.container {
  margin: 0px auto;
  padding: 0px 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* global config */
.mainHeader {
  text-align: center;
}
.mainHeader h5 {
  color: #06bbcc;
  text-transform: uppercase;
  letter-spacing: 2;
  font-weight: 700;
  font-size: 16px;
  background-color: white;
  margin: auto;
  width: fit-content;
  position: relative;
  padding: 0px 15px;
}
.mainHeader h5::after {
  position: absolute;
  content: "";
  width: calc(100% + 70px);
  height: 2px;
  background-color: var(--background-color);
  left: -50px;
  top: 4px;
  z-index: -1;
  padding: 0px 15px;
}
.mainHeader h5::before {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  background-color: var(--background-color);
  left: -75px;
  bottom: 4px;
  z-index: -1;
  padding: 0px 15px;
}
.mainHeader h1 {
  margin-bottom: 48px;
  margin-top: 15px;
  color: var(--main-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .mainHeader h1 {
    font-size: 2rem;
  }
}
/* end global config */
/* start header */
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  position: sticky;
  top: 0px;
  z-index: 300;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  top: 0px;
}

header .logo {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: var(--background-color);
}
header .logo i {
  margin-right: 20px;
  font-size: 30px;
}
.navbar {
  display: flex;
  align-items: center;
}

.navbar > ul {
  display: flex;
  font-size: 20px;
  color: #181d38;
  font-weight: 500;
}
.active {
  color: #06bbcc;
}
.navbar > ul > li {
  margin-right: 30px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: var(--main-transition);
  text-transform: uppercase;
  padding: 24px 0px;
}

.navbar > a {
  background-color: var(--background-color);
  padding: 24px 48px;
  color: white;
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
}
.navbar > a i {
  margin-left: 15px;
}
.navbar > ul > li:hover {
  color: var(--background-color);
}
.navbar > ul > li a {
  color: inherit;
}
.navbar > a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--main-transparent);
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.navbar > a:hover::after {
  opacity: 0.2;
}
.drop {
  position: absolute;
  top: 66px;
  background-color: white;
  padding: 10px 0px;
  width: 250%;
  border: 1px solid var(--main-transparent);
  display: none;
  animation: dd 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes dd {
  0% {
    transform: translatey(-12px);
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}
.dropDown:hover .drop {
  display: block;
}

.drop li {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  font-weight: 500;
  font-size: 15px;
  color: black;
}
.drop li:hover {
  background-color: var(--main-transparent);
}
.dropDown {
  position: relative;
}
header button {
  display: none;
  font-size: 25px;
  border-radius: 0px;
  outline: none;
  margin-right: 30px;
  background-color: white;
  border: 2px solid #e5e5e5;
  padding: 4px 15px;
  margin: 20px 16px;
}
header button:focus {
  outline: none;
}
header button i {
  color: #737373;
}
@media (max-width: 992px) {
  header {
    align-items: center;
    flex-wrap: wrap;
  }
  header .navbar {
    display: none;
  }
  header button {
    display: block;
  }
}
@media (max-width: 787px) {
  header {
    align-items: center;
    flex-wrap: wrap;
    padding-left: 15px;
  }
  header .navbar {
    display: none;
  }
  header button {
    display: block;
  }
}
/* end header  */
/* start landing */
.landing {
  /* background-image: url("../images/landing-1.jpg"); */

  /* background: url(../images/landing-1.jpg) no-repeat center center;*/
  /* height: 100vh;  */
  background-size: cover;
  position: relative;
  z-index: -1;
  margin-bottom: 40px;
  
}
.landing img {
  width: 100%;
}
.landing .ar {
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 2;
}
.landing .ar a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;

  border: 1px solid white;

  font-weight: 300;
}
.landing .ar a:first-of-type {
  margin-bottom: 15px;
}
.landing > a:hover {
  background-color: #06bbcc;
}
.landing .ar a > i {
  font-size: small;
  color: white;

  font-size: 35px;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 99.5%;
  background-color: rgba(24, 29, 56, 0.7);
  z-index: 1;
}
.text-area {
  position: absolute;
  z-index: 2;
  top: 32%;
  left: 9%;
  width: 60%;
}

.text-area .content p:first-child {
  color: var(--background-color);
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 16px;
  text-transform: uppercase;
  width: 100%;
}

.text-area .content h2 {
  color: white;
  line-height: 1.2;
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.text-area .content p:last-of-type {
  color: white;
  font-size: 1.25rem;
  margin-bottom: 32px;
}
.text-area .content a {
  padding: 16px 48px;
  font-size: 600;
}
.text-area .content a:first-of-type {
  background-color: #06bbcc;
  color: white;
  margin-right: 16px;
}
.text-area .content a:last-of-type {
  background-color: white;
  color: black;
}
@media (max-width: 992px) {
  .text-area .content h2 {
    font-size: 1.5rem;
  }
  .text-area .content p:last-of-type {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .landing {
    margin-bottom: 0px;
  }
  .landing img {
    height: 270px;
  }
  .text-area {
    top: 20px;
    width: 70%;
  }
  .text-area .content p:last-of-type {
    margin-bottom: 19px;
  }
  .text-area .content a {
    padding: 6px 12px;
  }
  .landing .ar {
    top: 40%;
  }
}
/* end landing */

/* start section */
.section {
  padding: var(--main-padding);
  /* margin: 40px 0px; */
}
.section .container {
  display: flex;
  justify-content: space-between;
}
.section .container .box {
  width: calc(90% / 4);
  background-color: #f0fbfc;
  text-align: center;
  padding: 40px 24px;
  transition: var(--main-transition);
}
.section .container .box i {
  margin-bottom: 24px;
  color: var(--background-color);
  transition: var(--main-transition);
}
.section .container .box h5 {
  margin-bottom: 24px;
  font-size: 20px;
  transition: var(--main-transition);
}
.section .container .box p {
  color: var(--paragraphe-color);
  transition: var(--main-transition);
}

.section .container .box:hover {
  background-color: var(--background-color);
  transform: translateY(-12px);
}
.section .container .box:hover h5,
.section .container .box:hover i,
.section .container .box:hover p {
  color: white;
}
@media (max-width: 767px) {
  .section .container {
    flex-direction: column;
  }
  .section .container .box {
    margin: 13px 0px;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .section .container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section .container .box {
    flex-basis: 49%;
    margin-bottom: 13px;
  }
}
/* end section */
/*start  about us */
.aboutUs {
  padding: var(--main-padding);
}

.aboutUs .container {
  display: flex;
  justify-content: space-between;
}
.aboutUs .container .image {
  width: 100%;
  padding-right: 27px;
}
.aboutUs .container .image img {
  width: 100%;
}
.aboutUs .container .textArea {
  padding: 0px 27px;
}
.aboutUs .container .textArea h4 {
  color: #06bbcc;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  position: relative;
}
.aboutUs .container .textArea h4::after {
  position: absolute;
  content: "";
  width: 8%;
  height: 2px;
  top: 3px;
  left: 100px;
  background-color: #06bbcc;
}
.aboutUs .container .textArea h4::before {
  position: absolute;
  content: "";
  width: 12%;
  height: 2px;
  bottom: 5px;
  left: 100px;
  background-color: #06bbcc;
}
.aboutUs .container .textArea h1 {
  color: #181d38;
  line-height: 1.3;
  font-size: 40px;
}
.aboutUs .container .textArea p {
  margin: 24px 0px;
  color: var(--paragraphe-color);
  line-height: 1.6;
}
.aboutUs .container .textArea .points {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.aboutUs .container .textArea .points ul {
  width: calc(90% / 2);
}
.aboutUs .container .textArea .points ul li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 18px;
  color: var(--paragraphe-color);
}
.aboutUs .container .textArea .points ul li::after {
  content: "\f061";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  left: 0px;
  top: 2px;
  color: #06bbcc;
  font-weight: bold;
  font-size: 15px;
}
.aboutUs .container .textArea a {
  background-color: var(--background-color);
  color: white;
  padding: 16px 48px;
  font-weight: 600;
  transition: var(--main-transition);
}
.aboutUs .container .textArea a:hover {
  background-color: #2bc5d4;
}
@media (max-width: 768px) {
  .aboutUs .container .textArea .points {
    flex-direction: column;
  }
  .aboutUs .container .image {
    padding-right: 0px;
  }
}
@media (max-width: 992px) {
  .aboutUs .container {
    flex-direction: column;
  }
  .aboutUs .container .image {
    padding-right: 0px;
  }
  .aboutUs .container .textArea h4 {
    margin-top: 12px;
  }
}

/* end about us  */
/* start categories */
.categories {
  padding: var(--main-padding);
}
.CategoriesContent {
  display: grid;
  grid-template-columns: 28% 28% auto;

  gap: 15px;

  grid-template-areas:
    "box1 box1 box4 "
    "box2 box3 box4 ";
}
.CategoriesContent img {
  width: 100%;
  height: 100%;

  transition: var(--main-transition);
}

.CategoriesContent > div {
  position: relative;
  overflow: hidden;
}
.CategoriesContent > div:hover img {
  transform: scale(1.2);
}
.CategoriesContent .box1 {
  grid-area: box1;
}
.CategoriesContent .box2 {
  grid-area: box2;
}
.CategoriesContent .box3 {
  grid-area: box3;
}
.CategoriesContent .box4 {
  grid-area: box4;
}

.CategoriesContent .txt {
  position: absolute;
  bottom: 2px;
  background-color: white;
  right: 2px;
  text-align: center;
  padding: 8px 16px;
}
.CategoriesContent .txt h5 {
  font-size: 1.25rem;
  color: #181d38;
}
.CategoriesContent .txt p {
  font-size: 0.8rem;
  color: #06bbcc;
}
@media (max-width: 767px) {
  .CategoriesContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

/* end categories */
/* start courses */
.courses {
  padding: var(--main-padding);
}
.courses .coursesContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 40px;
}
.courses .coursesContent img {
  max-width: 100%;
  transition: var(--main-transition);
}
.courses .coursesContent .box:hover img {
  transform: scale(1.1);
}
.courses .coursesContent .box .img {
  overflow: hidden;
}
.courses .coursesContent .box {
  position: relative;
  background-color: #f0fbfc;
}
.courses .coursesContent .li {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -45%);
  top: 45%;
  display: flex;
  width: 60%;
}
.courses .coursesContent .li a {
  background-color: #06bbcc;
  color: white;
  /* padding: 4px 16px;
  font-size: small;
  font-weight: 700;
  font-size: 13px; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
  padding: 4px 16px;
}
.courses .coursesContent .li a:hover {
  background-color: #2bc5d4;
}
.courses .coursesContent .li a:nth-child(2) {
  border-radius: 0px 12px 12px 0px;
}
.courses .coursesContent .li a:nth-child(1) {
  border-radius: 12px 0px 0px 12px;
  border-right: 1px solid #dee2e6;
  /* padding: 4px 14px; */
}
.courses .coursesContent .box .textArea {
  text-align: center;
}
.courses .coursesContent .box .info {
  display: flex;
  justify-content: center;
  border-top: 1px solid #dee2e6;
}
.courses .coursesContent .box .str {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  align-items: center;
  color: var(--paragraphe-color);
}
.courses .coursesContent .box .str i {
  color: #06bbcc;
  margin-right: 4px;
}
.courses .coursesContent .box .info div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-right: 1px solid #dee2e6;
  padding: 8px 0px;
}
.courses .coursesContent .box .info div:last-child {
  border-right: none;
}
.courses .coursesContent .box .info div i {
  color: var(--background-color);
  margin-right: 8px;
}
.courses .coursesContent .box .info div p {
  color: var(--paragraphe-color);
}
.courses .coursesContent .box .textArea .on {
  padding: 24px 24px 0px 24px;
}
.courses .coursesContent .box .textArea h3 {
  font-size: 2rem;
  color: #181d38;
}
.courses .coursesContent .box .textArea .on > p {
  color: #181d38;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 24px;
}
/* end courses */
/* begin instructors */
.instructors {
  padding: var(--main-padding);
}
.instructors .instructorsContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.instructorsContent .box {
  background-color: #f0fbfc;
}
.instructorsContent .tct {
  position: relative;
}
.instructorsContent .box img {
  width: 100%;
  height: 100%;
  transition: var(--main-transition);
}
.instructorsContent .box .img {
  overflow: hidden;
}
.instructorsContent .box:hover img {
  transform: scale(1.1);
}
.instructorsContent .box .sm {
  display: flex;
  width: fit-content;
  position: absolute;
  left: 50%;
  top: -23px;
  transform: translateX(-50%);
  background-color: #f0fbfc;
  justify-content: space-between;
  padding: 5px;
}

.instructorsContent .box .sm i {
  color: white;
  background-color: #06bbcc;
  margin: 0px 4px;
  padding: 10px;
}
.instructorsContent .box h5 {
  padding: 24px 24px 0px 24px;
  text-align: center;
  color: #181d38;
  font-size: 1.25rem;
  margin-bottom: 11px;
}
.instructorsContent .box p {
  padding: 0px 24px 24px 24px;
  text-align: center;
  color: var(--paragraphe-color);
}
/* end instructors */
/* start footer */
footer {
  background-color: #181d38;
  color: white;
  padding: var(--main-padding);
}
footer .container:first-of-type {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 48px;
}
@media (max-width: 992px) {
  footer .container:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-bottom: 48px;
  }
  footer .container:first-of-type > div {
    flex-basis: 50%;
  }
}
@media (max-width: 767px) {
  footer .container:first-of-type > div {
    flex-basis: 100%;
  }
  footer .container:last-of-type {
    flex-direction: column;
  }
  footer .container:first-of-type {
    text-align: center;
  }
}
footer .container:first-of-type::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #30344c;
  bottom: -48px;
  left: 0px;
  /* bottom: 0px; */
}
footer .container:first-of-type > div {
  width: calc(99% / 4);
}

footer .container:first-of-type h4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 16px;
}
footer .container:first-of-type .quickLink ul li a {
  color: white;
  text-transform: capitalize;
  margin-left: 20px;
}

footer .container:first-of-type .quickLink ul li {
  margin-bottom: 9px;
  position: relative;
  transition: var(--main-transition);
}
footer .container:first-of-type .quickLink ul li:hover {
  letter-spacing: 1px;
}
footer .container:first-of-type .quickLink ul li::before {
  content: "\f054";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 12x;
}
@media (max-width: 767px) {
  footer .container:first-of-type .quickLink ul li::before {
    left: 40%;
  }
}
footer .container:first-of-type .Contact div {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
@media (max-width: 767px) {
  footer .container:first-of-type .Contact div {
    justify-content: center;
  }
}
footer .container:first-of-type .Contact div i {
  margin-right: 1rem;
}
footer .container:first-of-type .Contact .social {
  display: flex;
  margin-top: 12px;
}
footer .container:first-of-type .Contact .social a {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 15px;
  border-radius: 50%;
  transition: var(--main-transition);
}
footer .container:first-of-type .Contact .social a i {
  margin: 0px;
  color: white;
  transition: var(--main-transition);
}
footer .container:first-of-type .Contact .social a:hover {
  background-color: white;
}
footer .container:first-of-type .Contact .social a:hover i {
  color: #06bbcc;
}
footer .container:first-of-type .Gallery .img {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  footer .container:first-of-type .Gallery .img {
    justify-content: center;
  }
}
footer .container:first-of-type .Gallery .img img {
  width: calc(80% / 3);
  margin-bottom: 10px;
  margin-right: 10px;
  border: 2px solid white;
}
footer .container:first-of-type .newsLetter p {
  margin-bottom: 16px;
}
footer .container:first-of-type .newsLetter input {
  padding: 14px 48px 14px 24px;
  max-width: 100%;
}
footer .container:first-of-type .newsLetter input:focus {
  border: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(6, 187, 204, 0.25);
}
footer .container:first-of-type .newsLetter .form {
  position: relative;
}
footer .container:first-of-type .newsLetter .form button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6%;
  padding: 10px 6px;
  border: none;
  background-color: #06bbcc;
  color: white;
}
@media (max-width: 767px) {
  footer .container:first-of-type .newsLetter .form button {
    right: 16%;
  }
}
footer .container:last-of-type {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .container:last-of-type a {
  color: white;
  text-decoration: underline;
}
footer .container:last-of-type ul {
  display: flex;
  margin-left: 119px;
}
footer .container:last-of-type ul li {
  padding: 0px 20px;
}
footer .container:last-of-type p:last-of-type {
  margin-top: 20px;
}
@media (max-width: 992px) {
  footer .container:last-of-type ul {
    margin-left: 0px;
    justify-content: center;
    margin-top:20px;
    
  }
  footer .container:last-of-type p{
    margin: auto;
  }

}
/* end footer */
/* start contact Page */
.landingContact {
  background: url(../images/landing-1.jpg) no-repeat center center;
  height: 300px;
  background-size: cover;
  position: relative;
  z-index: -1;
  margin-bottom: 40px;
  margin-top: -21px;
}
.overlayContact {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 29, 56, 0.7);
  z-index: 1;
}
.textContact {
  color: white;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.contact {
  padding: var(--main-padding);
}
.textContact p {
  font-size: 17px;
  font-weight: 600;
}
.textContact h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 8px;
  letter-spacing: 2px;
}
.contactContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contactContent .box {
  flex-basis: calc(100% / 3);
  padding: 0px 12px;
}
.contactContent .box:nth-child(2) iframe {
  width: 100%;
  height: 100%;
}
.contactContent .box:nth-child(1) > h5 {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.contactContent .box:nth-child(1) > p {
  margin-bottom: 24px;
  color: #52565b;
  line-height: 1.2;
}
.contactContent .box:nth-child(1) a {
  color: #06bbcc;
}
.contactContent .box:nth-child(1) .conI div {
  margin-bottom: 15px;
  display: flex;
}
.contactContent .box:nth-child(1) .conI div .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #06bbcc;
  margin-right: 15px;
}
.contactContent .box:nth-child(1) .conI div .icon i {
  color: white;
}

.contactContent .box:nth-child(1) .conI div .tx {
  display: block;
}
.contactContent .box:nth-child(1) .conI div .tx h5 {
  color: #06bbcc;
  font-size: 1.25rem;
  margin-bottom: 8px;
}
.contactContent .box:nth-child(1) .conI div .tx p {
  color: #52565b;
}
.contactContent .box:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contactContent .box:nth-child(3) input:focus,
textarea:focus {
  border-color: #83dde6;
  box-shadow: 0 0 0 0.25rem rgba(6, 187, 204, 0.25);
  outline: none;
}
.contactContent .box:nth-child(3) input:first-of-type,
.contactContent .box:nth-child(3) input:nth-child(2) {
  width: 49%;
  margin-bottom: 8px;
  border: 1px solid #ced4da;
}
.contactContent .box:nth-child(3) input:last-of-type {
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid #ced4da;
}
.contactContent .box:nth-child(3) input,
.contactContent .box:nth-child(3) textarea {
  padding: 16px 12px;
}
.contactContent .box:nth-child(3) textarea {
  width: 100%;
  border: 1px solid #ced4da;
  margin-bottom: 8px;
}
.contactContent .box:nth-child(3) button {
  padding: 16px 12px;
  color: white;
  background-color: #06bbcc;
  text-align: center;
  width: 100%;
  border: none;
}
@media (max-width: 921px) {
  .contactContent .box:nth-child(1),
  .contactContent .box:nth-child(2) {
    flex-basis: 50%;
  }
  .contactContent .box:nth-child(3) {
    flex-basis: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 787px) {
  .contactContent {
    flex-direction: column;
  }
}
/* end Contact Pages */
/* start testimonial */
.tesimonial {
  padding: var(--main-padding);
}
.testi-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
  position: relative;
}
.testi-content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}
.testi-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}
.testi-content .box {
  text-align: center;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.testi-content .box .img {
  border-radius: 50%;
  border: 1px solid #dee2e6;
  background-color: white;
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testi-content .box .img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testi-content .box h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  color: #181d38;
}
.testi-content .box p:first-of-type {
  font-weight: 400;
  line-height: 1.5;
  color: #52565b;
  margin-bottom: 16px;
}
.testi-content .box p:last-of-type {
  background-color: #06bbcc;
  color: white;
  padding: 24px;
}
.tesimonial .dots {
  margin: 0px auto;
  width: 8%;

  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.tesimonial .dots span {
  width: 15px;
  height: 15px;
  border: 1px solid #ced4da;
}
@media (max-width: 921px) {
  .tesimonial .dots {
    width: 20%;
  }
  .testi-content .box:last-of-type,
  .testi-content .box:first-of-type {
    display: none;
  }
  .testi-content::after,
  .testi-content::before {
    display: none;
  }
}
/* end testimonial */
